 body {
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   margin: 0;
   /* importante para remover as margens padrão do body */
   padding: 0;
   /*  importante para remover o padding padrão do body */
 }

 #adestramento-container {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
 }

 .Titulo {
   text-align: center;
   font-family: "Rammetto One", sans-serif;
   margin-left: 0 !important;
 }

 .adestramentoTit {
   margin-top: 100px;
   font-size: 2rem;
   font-weight: bold;
   color: #005A53;
   margin-bottom: 40px;
 }

 .adestramento-card {
   display: flex;
   width: 400px;
   height: 230px;
   background-color: #fffdf6;
   border-radius: 12px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   overflow: hidden;
 }

 .adestramento-image {
   width: 40%;
   object-fit: cover;
   height: 100%;
 }

 .adestramento-info {
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1;
 }

 .adestramento-info h2 {
   font-size: 14px;
   margin: 0;
   color: #005A53;
   font-family: "Rammetto One", sans-serif;
 }

 .adestramento-info p {
   font-size: 0.9rem;
   color: #333;
   margin: 0;
 }

 .adestramento-button {
   padding: 8px 15px;
   margin-top: 10px;
   border: 1.5px solid #F5844E;
   border-radius: 20px;
   background-color: transparent;
   color: #F5844E;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   align-self: flex-start;
 }

 .adestramento-button:hover {
   background-color: #F5844E;
   color: white;
 }

 footer {
   position: relative;
   z-index: 1000;
   width: 100%;
   background-color: #C57F51 !important;
   height: 116px;
   top: 14vw;
 }

 .links {
   display: flex;
   justify-content: center;
   margin: 1vw;
 }


 .links a {
   text-decoration: none;
   position: relative;
   color: #FFFFFF;
   margin: 18px 0 10px 28px;
   font-size: 22px;
   transition: color 0.6s ease;
 }


 .links a:hover::after {
   position: absolute;
   width: 0;
   height: 2px;
   left: 0;
   bottom: 0px;
   background-color: #fffbed;
   transition: width 0.6s ease;
 }

 .redes {
   display: flex;
   justify-content: center;
 }

 .redes h3 {
   text-decoration: none;
   color: #365914;
   margin-left: 10px;
   margin-top: 6px;
   font-size: 22px;
 }

 .redes a {
   margin-left: 20px;
   transition: all 1s;
 }

 .redes a:hover {
   transform: scale(1.1);
 }

 .line {
   background-color: #F5844E;
   height: 10px;
   position: relative;
   bottom: 0%;
   left: 0%;
   right: 0%;
   top: 0%;
 }

 .subContent {
   background-color: #005A53 !important;
   width: 100%;
   height: 100px;
   position: absolute;
   bottom: 0%;
   left: 0%;
   right: 0%;
   top: 100%;
 }


 .subContent p {
   margin-top: 30px;
   text-align: center;
   color: white;
 }

 .subContent h6 {
   margin-top: -10px;
   font-size: 14px;
   text-align: center;
   color: white;
 }


 /* _______________________________________________ */
 /* Check */
 .adestramento-card {
   position: relative;
   /* Essencial para a sobreposição funcionar */
 }

 .check-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   /* Branco com transparência */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
   /* Garante que a sobreposição fique acima do conteúdo do card */
 }

 /* Símbolo de check */
 .check-overlay::before {
   content: "✔";
   /* Símbolo de check */
   font-size: 4rem;
   color: #71AB3E;
   font-weight: bold;
 }