@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Rammetto+One&display=swap');


body {
  font-family: "Mukta Vaani", sans-serif;
  background-color: #FCF3E0;
  margin-top: 75px;
}

.centralizar {
  display: block;
  text-align: -webkit-center;
  unicode-bidi: isolate;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  height: 100%;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}

nav.transparente {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
}

nav.marrom {
  background-color: #cf946c;
}

.nav-logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff8e1;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #005A53;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/*  BOTÃO HAMBÚRGUER  */
.menu-toggle {
  display: none; /* escondido no desktop */
  background: none;
  border: none;
  color: #fff8e1;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1100;
}

/*  MENU LATERAL (ASIDE)  */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  background-color: #cf946c;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2rem;
  transition: right 0.4s ease;
  z-index: 1050;
}

.mobile-menu.active {
  right: 0;
}

.close-menu {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff8e1;
  cursor: pointer;
  margin-bottom: 2rem;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.mobile-links a {
  position: relative;
  text-decoration: none;
  color: #fff8e1;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  padding-bottom: 5px;
}

.mobile-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #005A53;
  transition: width 0.3s ease;
}

.mobile-links a:hover::after {
  margin-left: 50px;
   margin-right: 50px;
  width: 70%;
}
/*  RESPONSIVIDADE  */
@media (max-width: 1024px) {
  .nav-links {
    display: none; /* esconde links normais */
  }

  .menu-toggle {
    display: block; /* mostra botão hamburguer */
  }
}
