 body {
     min-height: 90vh;
     display: flex;
     flex-direction: column;
     margin: 0;
     /* importante para remover as margens padrão do body */
     padding: 0;
     /*  importante para remover o padding padrão do body */
     font-family: "Mukta Vaani", sans-serif;
 }

 .Titulo {
     text-align: center;
     font-family: "Rammetto One", sans-serif;
     margin-left: 0 !important;
 }

 .filtros {
     text-align: center;
     margin-bottom: 40px;
 }

 .filtro-input {
     padding: 10px;
     width: 250px;
     border: 0;
     border-radius: 20px 0 0 20px;
 }

 .filtro-select {
     padding: 10px;
     width: 170px;
     border: 0;
     border-radius: 0 20px 20px 0;
     background-color: #005A53;
     color: #ffffff;
 }


 .produtos-container {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
     align-items: flex-start;
 }

 .prodtitulo {
     margin-top: 100px;
     color: #005A53;
 }

 .prod-card {
     width: 250px;
     background: #fff;
     border-radius: 12px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     transition: all 0.3s ease;
 }

 .conteudo-prod {
     padding: 5px;
     text-align: center;
     position: relative;
 }

 .tit-prod {
     line-height: 1;
     font-size: 14px;
     font-family: "Rammetto One", sans-serif;
     color: #005A53;
 }

 .subtit-prod {
     color: #999;
     line-height: 5px;
 }

 .img-prod {
     margin-top: 10px;
     height: 150px;
 }

 .preco-prod {
     margin: 8px 0;
 }

 .preco-antigo {
     text-decoration: line-through;
     color: #999;
     font-size: 14px;
     display: block;
     line-height: 10px;
 }

 .preco-novo {
     font-weight: bold;
     font-size: 20px;
 }


 .btn-prod {
     background: transparent;
     font-size: 15px;
     border: 1px solid #F5844E;
     color: #F5844E;
     padding: 6px 15px;
     margin-bottom: 15px;
     border-radius: 20px;
     cursor: pointer;
     font-weight: bold;
     transition: background 0.3s;
 }

 .btn-prod:hover {
     background: #F5844E;
     color: #fff;
 }

 /* Modal */
 #modal {
     display: none;
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.5);
     justify-content: center;
     align-items: center;
     z-index: 1000;
 }

 .modal-content {
     background: #ffffff;
     padding: 2rem;
     border-radius: 1rem;
     width: 380px;
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
     position: relative;
     box-shadow: 0 8px 30px rgba(0, 0, 0, 0.20);
 }

 #fecharModal {
     position: absolute;
     top: .5rem;
     right: .5rem;
     font-size: 1.5rem;
     background: none;
     border: none;
     cursor: pointer;
     opacity: 0.6;
 }

 #fecharModal:hover {
     opacity: 1;
 }

 /* Steps */
 .step {
     display: none;
     flex-direction: column;
     gap: 1rem;
 }

 .step.active {
     display: flex;
 }

 .flip-card {

     width: 90%;
     height: 200px;
     perspective: 1000px;
     color: white;
     align-self: anchor-center;
     display: flex;
 }

 .logo {
     position: absolute;
     top: 9em;
     left: 16em;
 }

 .chip {
     position: absolute;
     top: 2.3em;
     left: 1.5em;
 }

 .contactless {
     position: absolute;
     top: 4.2em;
     left: 18.4em;
 }

 .heading_8264 {
     bottom: 4.2em;
     left: 6.5em;
     position: relative;
 }

 .number {
     position: absolute;
     font-weight: bold;
     font-size: 1em;
     left: 1.6em;
     bottom: 5em;
 }

 .valid_thru {
     position: absolute;
     font-weight: bold;
     font-size: 0.8em;
     top: 7em;
     left: 3em;
 }

 .date_8264 {
     position: absolute;
     font-weight: bold;
     font-size: 0.8em;
     top: 8.5em;
     left: 4em;
 }

 .name {
     position: absolute;
     font-weight: bold;
     font-size: 1em;
     top: 8.5em;
     left: 1.5em;
     text-transform: uppercase;
 }

 .strip {
     position: absolute;
     background-color: black;
     width: 15em;
     height: 1.5em;
     top: 2.4em;
     background: repeating-linear-gradient(45deg,
             #303030,
             #303030 10px,
             #202020 10px,
             #202020 20px);
 }

 .mstrip {
     position: absolute;
     background-color: rgb(255, 255, 255);
     width: 8em;
     height: 0.8em;
     top: 5em;
     left: .8em;
     border-radius: 2.5px;
 }

 .sstrip {
     position: absolute;
     background-color: rgb(255, 255, 255);
     width: 4.1em;
     height: 0.8em;
     top: 5em;
     left: 10em;
     border-radius: 2.5px;
 }

 .code {
     font-weight: bold;
     text-align: center;
     color: black;
     position: relative;
     top: -22px;
 }

 .flip-card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.8s;
     transform-style: preserve-3d;
 }

 .flip-card-inner.flipped {
     transform: rotateY(180deg);
 }

 .flip-card-front,
 .flip-card-back {
     box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
     background: linear-gradient(45deg, #C57F51, #71AB3E);
     position: absolute;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     border-radius: 1rem;
 }

 .flip-card-front {
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
     background-color: #171717;
 }

 .flip-card-back {
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
     background-color: #171717;
     transform: rotateY(180deg);
 }

 /* Payment options */
 .payment-option {
     display: flex;
     align-items: center;
     gap: .5rem;
     padding: .7rem;
     border-radius: .6rem;
     border: 1px solid #ddd;
     cursor: pointer;
     transition: all .3s;
     background: #f8f9ff;
 }

 .payment-option:hover {
     background: #e5e7ff;
     border-color: #4f46e5;
 }

 .payment-option.selected {
     border-color: #4f46e5;
     background: #eef0ff;
     box-shadow: 0 0 0 2px rgba(79, 70, 229, .2);
 }

 /* Payment form */
 .payment-form {
     display: flex;
     flex-direction: column;
     gap: .8rem;
     animation: fade .3s ease;
 }

 @keyframes fade {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .payment-form input {
     padding: .7rem;
     border-radius: .5rem;
     border: 1px solid #cbd5e1;
     font-size: .95rem;
 }

 .payment-form input:focus {
     border-color: #4f46e5;
     box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.25);
     outline: none;
 }

 .payment-form button {
     background: #3d8f53;
     border: none;
     color: white;
     font-weight: 600;
     padding: .8rem;
     border-radius: .5rem;
     cursor: pointer;
 }

 .payment-form button:hover {
     background: #365914;
 }

 .btn-back {
     background: none;
     border: none;
     color: #fbfff8;
     cursor: pointer;
     border-radius: 20px;
     background-color: #005A53;
     padding: 10px 14px;
     font-size: .9rem;
     align-self: flex-start;
 }

 #pix-qrcode,
 #pix-chave {
     justify-self: center;
     text-align: center;
     margin: 10px auto;
     display: block;
 }


 footer {
     position: relative;
     z-index: 1000;
     width: 100%;
     background-color: #C57F51 !important;
     height: 116px;
     top: 14vw;
 }

 .links {
     display: flex;
     justify-content: center;
     margin: 1vw;
 }


 .links a {
     text-decoration: none;
     position: relative;
     color: #FFFFFF;
     margin: 18px 0 10px 28px;
     font-size: 22px;
     transition: color 0.6s ease;
 }


 .links a:hover::after {
     position: absolute;
     width: 0;
     height: 2px;
     left: 0;
     bottom: 0px;
     background-color: #fffbed;
     transition: width 0.6s ease;
 }

 .redes {
     display: flex;
     justify-content: center;
 }

 .redes h3 {
     text-decoration: none;
     color: #365914;
     margin-left: 10px;
     margin-top: 6px;
     font-size: 22px;
 }

 .redes a {
     margin-left: 20px;
     transition: all 1s;
 }

 .redes a:hover {
     transform: scale(1.1);
 }

 .line {
     background-color: #F5844E;
     height: 10px;
     position: relative;
     bottom: 0%;
     left: 0%;
     right: 0%;
     top: 0%;
 }

 .subContent {
     background-color: #005A53 !important;
     width: 100%;
     height: 100px;
     position: absolute;
     bottom: 0%;
     left: 0%;
     right: 0%;
     top: 100%;
 }


 .subContent p {
     margin-top: 30px;
     text-align: center;
     color: white;
 }

 .subContent h6 {
     margin-top: -10px;
     font-size: 14px;
     text-align: center;
     color: white;
 }

 /* Carrinho */
 #carrinho {
     position: fixed;
     top: 0;
     right: -400px;
     width: 350px;
     height: 95vh;
     background: #FCF3E0;
     box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
     z-index: 101;
     display: flex;
     flex-direction: column;
     transition: 0.3s ease-in-out;
     padding: 20px;
 }

 #carrinho.aberto {
     right: 0;
 }


 #carrinho-itens {
     flex: 1;
     overflow-y: auto;

 }

 .item-carrinho {
     display: flex;
     margin-bottom: 20px;
     margin-top: 50px;
     align-items: center;
 }

 .item-carrinho img {
     width: 70px;
     height: 70px;
     object-fit: cover;
     border-radius: 10px;
     margin-right: 25px;
 }

 .qtd-controls {
     display: flex;
     align-items: center;
     gap: 8px;
     margin-top: 5px;
 }

 .qtd-controls button {
     background: #F5844E;
     font-family: "Mukta Vaani", sans-serif;
     border: none;
     color: white;
     width: 26px;
     height: 26px;
     border-radius: 5px;
     cursor: pointer;
 }

 .remove-item {
     color: red;
     cursor: pointer;
     margin-left: auto;
 }

 .carrinho-footer {
     border-top: 1px solid #d6cbb7;
     padding-top: 15px;
 }

 .linha {
     display: flex;
     justify-content: space-between;
     margin: 8px 0;
 }

 .total-final {
     font-size: 18px;
     margin-top: 10px;
 }

 .cupom-area {
     display: flex;
     gap: 10px;
     margin: 10px 0;
 }

 .cupom-area input {
     flex: 1;
     padding: 6px;
     border: 1px solid #bda982;
     border-radius: 5px;
 }

 .cupom-area button {
     background: #F5844E;
     border: none;
     padding: 6px 10px;
     color: white;
     border-radius: 5px;
     cursor: pointer;
 }

 #finalizar-compra {
     background-color: #71AB3E;
     border: none;
     padding: 6px 10px;
     color: white;
     border-radius: 5px;
     cursor: pointer;
     width: 100%;
 }

 
.modalmsg {
    display: none;
    /* escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
}

.modalmsg.show {
    display: flex;
    opacity: 1;
}

.modal-content-msg {
    background-color: #fffaf1;
    backdrop-filter: blur(6px);
    margin: auto;
    padding: 2em 2.5em;
    border-radius: 15px;
    border: 2px solid #3A1F03;
    width: 250px;
    color: #005A53;
    text-align: center;
    transform: translateY(-20px);
    /* sobe levemente */
    transition: all 0.4s ease-in-out;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.modalmsg.show .modal-content-msg {
    transform: translateY(0);
    /* anima de cima pra posição final */
}

#modal-msg-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.4rem;
    cursor: pointer;
    color: #6d6a6a;
    transition: color 0.2s;
}

#modal-msg-close:hover {
    color: #C57F51;
}

@media (max-width: 768px) {
    .prod-card {
        width: 90%;
    }
    .filtros {
        flex-direction: column;
    }
}

