 body {
     min-height: 90vh;
     display: flex;
     flex-direction: column;
     margin: 0;
     /* importante para remover as margens padrão do body */
     padding: 0;
     /*  importante para remover o padding padrão do body */
 }



 .filtros {
     text-align: center;
     margin-bottom: 40px;
 }

 .filtro-input {
     padding: 10px;
     width: 250px;
     border: 0;
     border-radius: 20px 0 0 20px;
 }

 .filtro-select {
     padding: 10px;
     width: 170px;
     border: 0;
     border-radius: 0 20px 20px 0;
     background-color: #D4D955;
 }


 .produtos-container {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
     align-items: flex-start;
 }

 .prodtitulo {
     margin-top: 100px;
     color: #365914;
 }

 .prod-card {
     width: 250px;
     background: #fff;
     border-radius: 12px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     transition: all 0.3s ease;
 }

 .conteudo-prod {
     padding: 5px;
     text-align: center;
     position: relative;
 }

 .tit-prod {
     line-height: 1;
     font-size: 20px;
 }

 .subtit-prod {
     color: #999;
     line-height: 5px;
 }

 .img-prod {
     margin-top: 10px;
     height: 150px;
 }

 .preco-prod {
     margin: 8px 0;
 }

 .preco-antigo {
     text-decoration: line-through;
     color: #999;
     font-size: 14px;
     display: block;
     line-height: 10px;
 }

 .preco-novo {
     font-weight: bold;
     font-size: 20px;
 }

 .detalhes-prod {
     opacity: 0;
     max-height: 0;
     overflow: hidden;
     transition: all 0.4s ease;
     font-size: 15px;
     color: #333;
     margin: 10px 0;
 }

 .tabela-prod {
     font-size: 16px;
     border: 1px solid #b9b9b9;
     border-radius: 14px;
     padding: 0 15px;
 }

 .tabela-prod .linha {
     display: flex;
     justify-content: space-between;
     padding: 8px 0;
     border-bottom: 1px solid #ccc;
 }

 .tabela-prod .linha:last-child {
     border-bottom: none;
 }

 .tabela-prod .titulo {
     font-weight: 700;
 }


 .btn-prod {
     background: transparent;
     font-size: 15px;
     border: 1px solid #7cc33f;
     color: #7cc33f;
     padding: 6px 15px;
     margin-bottom: 15px;
     border-radius: 20px;
     cursor: pointer;
     font-weight: bold;
     transition: background 0.3s;
 }

 .btn-prod:hover {
     background: #7cc33f;
     color: #fff;
 }

 .detalhes-prod.aberto {
     opacity: 1;
     max-height: 1000px;
 }

 footer {
     position: relative;
     z-index: 1000;
     width: 100%;
     background-color: #C57F51 !important;
     height: 116px;
 }

 .links {
     display: flex;
     justify-content: center;
     margin: 1vw;
 }


 .links a {
     text-decoration: none;
     position: relative;
     color: #FFFFFF;
     margin: 18px 0 10px 28px;
     font-size: 22px;
     transition: color 0.6s ease;
 }

 .links a::after {
     content: "";
     position: absolute;
     width: 0;
     height: 2px;
     left: 0;
     bottom: 0px;
     background-color: #fffbed;
     transition: width 0.6s ease;
 }

 .links a:hover::after {
     width: 100%;
 }

 .redes {
     display: flex;
     justify-content: center;
 }

 .redes h3 {
     text-decoration: none;
     color: #365914;
     margin-left: 10px;
     margin-top: 6px;
     font-size: 22px;
 }

 .redes a {
     margin-left: 20px;
     transition: all 1s;
 }

 .redes a:hover {
     transform: scale(1.1);
 }

 .line {
     background-color: #F5844E;
     height: 10px;
     position: relative;
     bottom: 0%;
     left: 0%;
     right: 0%;
     top: 0%;
 }

 .subContent {
     background-color: #005A53 !important;
     width: 100%;
     height: 100px;
     position: absolute;
     bottom: 0%;
     left: 0%;
     right: 0%;
     top: 100%;
 }


 .subContent p {
     margin-top: 30px;
     text-align: center;
     color: white;
 }

 .subContent h6 {
     margin-top: -10px;
     font-size: 14px;
     text-align: center;
     color: white;
 }