@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Rammetto+One&display=swap');

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

.question {
    background: #F2EFBD;
    padding: 15px;
    height: 25%;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.question p {
    font-weight: bold;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #ffff;
    color: #365914;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #365914;
    color: #fff;
}

button.selected {
    background: #365914;
    color: #fff;
}

.opcoes-container {
    margin-bottom: 20px;
}

.nav-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.nav-btn {
    width: 48%;
    background: #e0e0e0;
    color: #333;
}

.nav-btn:hover {
    background: #365914;
    color: #fff;
}

.nav-btn:disabled {
    background: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.result {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #F2EFBD;
    text-align: left;
}

#animal-img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    flex-shrink: 0;
}

#result-text {
    flex: 1;
    max-width: 100%;
}

.result-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}


.result-btn {
    background-color: #F26B5E;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    align-self: center;
}

.result-btn:hover {
    background-color: #f35446;
}

footer {
    position: relative;
    z-index: 1000;
    width: 100%;
    background-color: #C57F51 !important;
    height: 116px;
}

.links {
    display: flex;
    justify-content: center;
    margin: 1vw;
}


.links a {
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    margin: 18px 0 10px 28px;
    font-size: 22px;
    transition: color 0.6s ease;
}

.links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0px;
    background-color: #fffbed;
    transition: width 0.6s ease;
}

.links a:hover::after {
    width: 100%;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes h3 {
    text-decoration: none;
    color: #365914;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 22px;
}

.redes a {
    margin-left: 20px;
    transition: all 1s;
}

.redes a:hover {
    transform: scale(1.1);
}

.line {
    background-color: #F5844E;
    height: 10px;
    position: relative;
    bottom: 0%;
    left: 0%;
    right: 0%;
    top: 0%;
}

.subContent {
    background-color: #005A53 !important;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    top: 100%;
}


.subContent p {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.subContent h6 {
    margin-top: -10px;
    font-size: 14px;
    text-align: center;
    color: white;
}